# http://editorconfig.org
root = true

[**.js]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
max_char = 80
trim_trailing_whitespace = true
insert_final_newline = true
brace_style= collapse

[**.css]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[**.html]
indent_style = space
indent_size = 2
